.ButtonClose {
	position: absolute;

	background-color: transparent;
	border: none;

	cursor: pointer;

	& svg {
		fill: #196480;
		width: 1rem;
		height: 2rem;
	}
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}