.main {
	top: 12rem !important;
	height: calc(100% - 13.5rem);
}

.loading {
	margin-top: 42vh;
	margin-left: 42vw;
}

.container {
	height: 100%;
	padding-top: 1rem;

	.top {
		display: flex;

		line-height: 4rem;

		padding-left: 1rem;

		text-transform: uppercase;

		background: #ffffff;

		border: 1px solid #b6bfc9;
		border-radius: 0.6rem;
	}

	.innerContent {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;

		width: 100%;
		height: 100%;

		padding-bottom: 14rem;

		overflow-y: auto;
		overflow-x: hidden;

		.innerTop {
			display: flex;
			width: 100%;

			.pieChartTitle {
				text-align: center;
			}
		}
	}

	& .infoBlocks {
		padding-left: 42rem;
		margin-top: 6rem;

		& div {
			margin: 2rem 2rem;
		}
	}

	& .noMetrics {
		display: flex;
		padding-left: calc(50% - 37rem);
	}

	& .noMetricsFoundMessage {
		margin-top: 10%;
	}

	& .pieChart {
		width: 100%;
		margin: 5rem;
	}

	& .lineChart {
		width: 90%;
		height: 100%;
		//margin-bottom: 10rem;
	}

	& .pickersWrap {
		width: 100%;
		padding: 1rem 0.5rem;

		background: #e6e9ea;

		& .pickersBlock {
			display: flex;

			align-items: center;

			height: 4rem;

			background: #f6f9fa;
			border-radius: 3rem;

			& h3 {
				margin: 0;
				margin-left: 2rem;
			}

			& .pickers {
				left: 50%;
				transform: translateX(-50%);
				position: absolute;
			}
		}
	}
}

@media(min-width: 992px) and (max-width: 1800px) {
	.main {
		top: 12rem !important;
		height: calc(100% - 5.5rem);
	}

	.container {
		.innerContent {
			.infoBlocks {
				padding-left: 7rem;
			}
		}
	}
}